.idea/workspace.xml
build/temp/development/ProjectExtJs5/sencha-compiler/app/full-page-master-bundle.js
build/temp/testing/ProjectExtJs5/sass/ProjectExtJs5-all.scss
build/temp/testing/ProjectExtJs5/sass/ProjectExtJs5-all.scss.tmp
build/temp/testing/ProjectExtJs5/sass/config.rb
build/temp/testing/ProjectExtJs5/sencha-compiler/app/full-page-master-bundle.js
build/testing/ProjectExtJs5/resources/ProjectExtJs5-all.css
